<body>
    <div class="grid-stack">
		<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="8">
	    	<div class="grid-stack-item-content" style="background-color:#2196f3;">
          <div id="social-carousel">
                <h1>Please tweet a picture or message</h1>
                <h1>To see your post Tweet with the hastag #lantern2015</h1>
              </div>
			</div>
		</div>
	</div>
	<script>
  var socket;
  $(function () {
  socket = io.connect('http://192.168.1.129:8000/');
      var options = {
      };
      $('.grid-stack').gridstack(options);
  });
     $(document).ready(function(){
      /*
          $('#image-carousel').slick({
              arrows:false,
              slidesToShow: 1,
              centerMode: 1,
              autoplay: true,
              autoplaySpeed: 8000
          });
        */


           $('#social-carousel').slick({
              arrows:false,
              slidesToShow: 1,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 3000
          });
      });
      var socialPostCtr = 0;
       socket.on('newSocialPost', function(data){
          //console.log('post received!');
         // tweet.entities.media[0].media_url, tweet.user.name, tweet.user.profile_image_url
          var newId = 'newPost' + socialPostCtr;
          var newId1 = 'newImg' + socialPostCtr;
          var newId2 = 'newProfile' + socialPostCtr;
          var newId3 = 'newUser' + socialPostCtr;
          $('#social-carousel').slick('slickAdd',"<div><h1 id='newPost'></h1><img id='newImg' src='' alt='See your picture here' style='width:640px;height:360px;'><br><div id ='newProfile' class='img-circular'></div><p id='newUser'></p></div>");
          //tweet
          $('#newPost').attr('id', newId);
          $('#' + newId).text(data.post.text);
          //image
          $('#newImg').attr('id', newId1);
          $('#' + newId1).attr("src",data.post.entities.media[0].media_url);
          //profile pic
          $('#newProfile').attr('id', newId2);
          $('#' + newId2).css("background-image", "url("+data.post.user.profile_image_url+")");
          //$('#' + newId2).attr("src",data.post.user.profile_image_url);
          //$('#divID').css("background-image", "url(/myimage.jpg)");
          //username
          $('#newUser').attr('id', newId3);
          $('#' + newId3).text('@'+data.post.user.name);

          socialPostCtr = socialPostCtr + 1;
       });
	</script>


</body>
