<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="velocity.js"></script>
  </head>
  <body>
    <div class="flip-container">
      <div class="flipper">
        <div class="front">
          <h2 id="front_tweet">hello</h2>
        </div>
        <div class="back">
          <h2 id="back_tweet">hi</h2>
          BACK
        </div>
      </div>
    </div>
  </body>
</html>
